<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords/results">
  <div>
    <label for="">Street Address</label>
    <input id="" type="text" placeholder="Enter the address" name="user_street_address">
  </div>
  <div>
    <button>Lookup Coordinates!</button>
  </div>
</form>
