<h1>Coordinates to Weather Calculation</h1>

<form action="/coords_to_weather/results">
  <div>
    <label for="lat">Latitude</label>
    <input id="lat" type="text" placeholder="Enter the latitude" name="user_latitude">
  </div>
    <div>
    <label for="lng">Lattitude</label>
    <input id="lng" type="text" placeholder="Enter the longitude" name="user_longitude">
  </div>

  <div>
    <button>Lookup Weather!</button>
  </div>
</form>
