<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first">Add this:</label>
  <input id="first" type="text" name="first_num">
  <label for="second">to this:</label>
  <input id="second" type="text" name="second_num">
  <button>Add!</button>
</form>
