<h1>New addition</h1>

<form action="/wizard_add">
  <label for="add">Add this:</label>
  <input id="add" type="text" name="first_num">
  <label for="add">to this:</label>
  <input id="add" type="text" name="second_num">
  <button>Add!</button>
</form>
