<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first">Multiply this:</label>
  <input id="first" type="text" name="first_num">
  <label for="second">by this:</label>
  <input id="second" type="text" name="second_num">
  <button>Multiplysecondbutton>
</form>
