<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="add">Multiply this:</label>
  <input id="add" type="text" name="first_num">
  <label for="add">by this:</label>
  <input id="add" type="text" name="second_num">
  <button>Multiply!</button>
</form>
