<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first">Subtract this:</label>
  <input id="first" type="text" name="first_num">
  <label for="second">from this:</label>
  <input id="second" type="text" name="second_num">
  <button>Subtract!</button>
</form>
