<h1>New addition</h1>

<form action="/wizard_subtract">
  <label for="add">Subtract this:</label>
  <input id="add" type="text" name="first_num">
  <label for="add">from this:</label>
  <input id="add" type="text" name="second_num">
  <button>Subtract!</button>
</form>
